/* style.css */
h1 {
    color: #ffffff;
    background-color: #008000;
    font-size: 48px;
    font-family: 'Times New Roman', sans-serif;
    text-align: center;
}

p {
    color: #000000;
    font-size: 20px;
    font-family: 'Times New Roman', sans-serif;
}

button {
    background-color: #ffebcd;
}